@charset "UTF-8";
* {
  font-family: 'Arial','メイリオ','ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', Sans-serif;
  line-height: 1.4em;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  margin: 0;
  padding: 10px 0 0 0;
  height: 100%;
  background: #f7f7f7;
}

a {
  color: #43c7e2;
  background: none;
  text-decoration: underline;
}
a:hover, a:focus, a:active {
  color: #9be1f0;
  background: none;
}
a:visited {
  color: #43c7e2;
  background: none;
}

header {
  overflow: hidden;
  *zoom: 1;
  display: block;
  width: 960px;
  height: 80px;
  margin: auto;
  padding: 0;
}
header h1#logo {
  width: 400px;
  height: 80px;
  margin: 0;
  padding: 0;
  float: left;
}
header ul#social_link {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
header ul#social_link li {
  background: #CCC;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-right: .5em;
  text-align: center;
}
header ul#social_link li:last-child {
  margin-right: 0;
}

nav {
  overflow: hidden;
  *zoom: 1;
  display: block;
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding: 0;
  background: #422424;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
nav ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 120px;
  height: 40px;
  margin: 0 5px;
}
nav ul li#home {
  width: 50px;
}
nav ul li a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: white;
  background: #483131;
  text-decoration: none;
}
nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
  color: white;
  background: #855a5a;
}
nav ul li a:visited {
  color: white;
  background: #483131;
}
