/*
	One% CSS Grid - 12 Columns Fluid CSS Grid System
	http://onepcssgrid.mattimling.com/
*/

/* Main container for all */
.container1000, .container1200 {
	margin: 0 auto;
	padding: 0 0 0 1%; /* THAT'S THE NAME ;) */
}

.container1200 {
	max-width: 1220px;
}

.container1000 {
	max-width: 1020px;
}

.row {
	clear: both;
	padding: 0 10px;
}

/* Common columns definitions */
.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
	float: left;
	margin: 0 3% 0 0;
}

.col_1.last, .col_2.last, .col_3.last, .col_4.last, .col_5.last, .col_6.last, .col_7.last, .col_8.last, .col_9.last, .col_10.last, .col_11.last, .col_12 {
	margin: 0;
}

.col_1 { width: 5.5%; }
.col_2 { width: 14%; }
.col_3 { width: 22.5%; }
.col_4 { width: 31%; }
.col_5 { width: 39.5%; }
.col_6 { width: 48%; }
.col_7 { width: 56.5%; }
.col_8 { width: 65%; }
.col_9 { width: 73.5%; }
.col_10 { width: 82%; }
.col_11 { width: 90.5%; }
.col_12 { width: 99%; margin: 0; }

.col_1 img, .col_2 img, .col_3 img, .col_4 img, .col_5 img, .col_6 img, .col_7 img, .col_8 img, .col_9 img, .col_10 img, .col_11 img, .col_12 img {
	width: 100%;
	height: auto;
	display: block;
}

/* Disable padding left/right 10px if I'm 1024 or gibber - correct percentage math */
@media all and (min-width: 1024px) {
	.container1000 {
		max-width: 1000px;
	}

	.container1000 .row {
		padding: 0;
	}
}


/* Small devices */
@media all and (max-width: 768px) {
	.row {
	}

	.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11 {
		float: none;
		width: 99%;
	}
}