@charset "UTF-8";
* {
  font-family: 'Arial','メイリオ','ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', Sans-serif;
  line-height: 1.4em;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #fafafa;
}

a {
  color: #20b4d2;
  background: none;
  text-decoration: none;
  outline: none;
}
a:link, a:visited {
  color: #20b4d2;
  background: none;
  text-decoration: none;
  outline: none;
}
a:hover, a:active {
  color: #43c7e2;
  background: none;
  text-decoration: underline;
  outline: none;
}

img {
  border: 0;
}

header {
  overflow: hidden;
  *zoom: 1;
  display: block;
  width: 100%;
  height: 78px;
  margin: 0;
  padding: 10px 0;
  background-color: #fafafa;
}
header h1 {
  margin: 0;
  padding: 0;
}
header .space {
  height: 78px;
}
header ul#social_link {
  height: 78px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  text-align: right;
  list-style: none;
}
header ul#social_link li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 50px;
  margin: 28px 5px 0 0;
  padding: 0;
  line-height: 50px;
  text-align: center;
}
header ul#social_link li i {
  font-size: 35px;
}
header ul#social_link li:last-child {
  margin-right: 0;
}
header ul#social_link li a {
  text-decoration: none;
}
header ul#social_link li a:hover, header ul#social_link li a:active, header ul#social_link li a:focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

nav {
  overflow: hidden;
  *zoom: 1;
  z-index: 10;
  display: block;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  border-width: 1px 0;
  border-style: solid;
  border-color: #e8e8e8;
  box-shadow: 0 2px 5px #dfdfdf;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
nav ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 150px;
  height: 50px;
  margin: 0;
  padding: 0;
  border-right: 1px solid #e8e8e8;
}
nav ul li a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 31.25px;
  font-weight: bold;
  text-shadow: 0 1px 1px #d1cdcd;
  color: #383434;
  background: #f8f8f8;
  text-decoration: none;
  outline: none;
}
nav ul li a:link, nav ul li a:visited {
  color: #383434;
  background: #f8f8f8;
  text-decoration: none;
  outline: none;
}
nav ul li a:hover, nav ul li a:active {
  color: #433e3e;
  background: #fdfdfd;
  text-decoration: underline;
  outline: none;
}
nav ul li a span {
  display: block;
  font-weight: normal;
  font-size: .7em;
  text-shadow: none;
  color: #6d6565;
}
nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
  box-shadow: 0 0 3px #e8e8e8 inset;
  text-decoration: none;
}
nav ul li#home {
  width: 50px;
  border-left: 1px solid #e8e8e8;
  font-size: 1.4em;
  line-height: 50px;
}
nav ul li#home a {
  line-height: 50px;
}

.fixed_navi {
  position: fixed;
  top: 0;
  margin: 0;
}

#dummy {
  display: none;
  height: 50px;
  margin: 10px 0;
}

div#contents {
  margin: 0;
  padding: 30px 0;
  background: #e4e4e4;
  box-shadow: 0 0 5px 2px #cbcbcb;
}
div#contents:after {
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

#main .abox {
  margin-bottom: 30px;
  padding: 20px 20px;
  background: #fafafa;
}
#main h2, #main h3, #main h4, #main h5 {
  margin: 0 0 0.5em 0;
  padding: 0;
  text-decoration: none;
}
#main h2 a, #main h3 a, #main h4 a, #main h5 a {
  color: black;
  background: none;
  text-decoration: none;
  outline: none;
}
#main h2 a:link, #main h2 a:visited, #main h3 a:link, #main h3 a:visited, #main h4 a:link, #main h4 a:visited, #main h5 a:link, #main h5 a:visited {
  color: black;
  background: none;
  text-decoration: none;
  outline: none;
}
#main h2 a:hover, #main h2 a:active, #main h3 a:hover, #main h3 a:active, #main h4 a:hover, #main h4 a:active, #main h5 a:hover, #main h5 a:active {
  color: #333333;
  background: none;
  text-decoration: underline;
  outline: none;
}
#main p {
  margin: 0.5em 0;
  text-align: justify;
}
#main .profile-box {
  position: relative;
  overflow: hidden;
}
#main .profile-box .profile {
  float: left;
  width: 574px;
  min-height: 96px;
}
#main .profile-box .profile p:last-child {
  padding-bottom: 1.4em;
}
#main .profile-box .name-grade-box .name {
  margin-bottom: .3em;
  display: inline-block;
  margin-right: .3em;
}
#main .profile-box .name-grade-box .grade {
  display: inline-block;
  font-size: .95em;
  margin-left: .3em;
  margin-right: .3em;
}
#main .profile-box .name-grade-box .social-accounts {
  display: inline;
  font-size: .9em;
}
#main .profile-box .name-grade-box .social-accounts .social-account {
  display: inline-block;
}
#main .profile-box .name-grade-box .social-accounts .social-account i:before {
  margin-left: .5em;
}
#main .profile-box .avatar {
  float: left;
  margin-right: 1em;
}
#main .profile-box .user-meta {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: right;
  font-size: .9em;
}
#main .profile-box i:before {
  font-size: 1.2em;
}
#main .profile-box .descrip-none {
  color: #888;
}
#main #products {
  margin-left: -34px;
}
#main #products .custom-post {
  margin-left: 34px;
}
#main #products .custom-post #external_nico_0 {
  width: 310px;
  height: 250px;
}

#sidebar .sidebox {
  margin-bottom: 30px;
  padding: 20px 15px;
  font-size: .85em;
  background-color: #fafafa;
}
#sidebar .sidebox h2, #sidebar .sidebox h4 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}
#sidebar .sidebox p, #sidebar .sidebox div {
  margin: .3em 0;
}
#sidebar .picbox {
  margin-bottom: 30px;
  padding: 0;
  height: 222px;
}
#sidebar label[for^="s"] {
  display: none;
}
#sidebar input#s {
  width: 120px;
}
#sidebar #tw-widgets {
  background-color: #00ACED;
  color: #FFFFFF;
}
#sidebar #tw-widgets h4 {
  margin: 0;
  padding: 10px 5px;
}
#sidebar #tw-widgets a {
  color: white;
  background: none;
  text-decoration: underline;
  outline: none;
}
#sidebar #tw-widgets a:link, #sidebar #tw-widgets a:visited {
  color: white;
  background: none;
  text-decoration: underline;
  outline: none;
}
#sidebar #tw-widgets a:hover, #sidebar #tw-widgets a:active {
  color: white;
  background: none;
  text-decoration: none;
  outline: none;
}
#sidebar #tw-widgets .icon-twitter:before {
  color: #FFFFFF;
  font-weight: normal;
}
#sidebar #tw-widgets .twitter-timeline {
  width: 95%;
  height: 200px;
  margin: 0px 2.5%;
  background-color: #FFF;
}
#sidebar #tw-widgets #tw-loading {
  color: #FFF;
}
#sidebar #tw-widgets #tw-account {
  margin-top: -8px;
  padding: 5px;
  font-size: .8em;
  text-align: right;
}

.shadow {
  box-shadow: 0px 0px 20px -3px #adadad;
}

footer {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  margin: 20px 0 0 0;
  padding: 10px 0;
  color: #585858;
  background: #fafafa;
}
footer h5 {
  margin: 0 0 1em 0;
  padding: 0;
  font-size: .9em;
}
footer #contents_list #item {
  margin: 0;
  padding: 0;
  height: 110px;
  overflow: hidden;
}
footer #contents_list ul.line {
  width: 39%;
  height: 140px;
  margin: 0 3%;
  padding: 0 2%;
  border-left: 1px solid #CCC;
  float: left;
}
footer #contents_list ul.line li {
  list-style: none;
  font-size: 0.9em;
  line-height: 1.9;
}
footer #management {
  height: 110px;
  background: #ededed;
  line-height: 110px;
  text-align: center;
}
footer #alice_carteret {
  position: absolute;
  bottom: 15px;
  font-size: .8em;
}
footer #alice_carteret dl {
  margin: 0;
  padding: 0;
}
footer #alice_carteret dl dt {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
footer #alice_carteret dl dd {
  display: inline-block;
  margin: 0 1em 0 .3em;
  padding: 0;
}
footer #alice_carteret dl dd img {
  vertical-align: bottom;
}
footer #alice_carteret #copyright {
  text-align: right;
}

.icon-twitter:before {
  color: #00ACED;
}

.icon-github:before {
  color: #363636;
}

.icon-rss:before {
  color: #E4711B;
}

.icon-facebook-squared:before {
  color: #3B5998;
}

.icon-tumblr-squared:before {
  color: #2C4762;
}

.icon-hatena:before {
  color: #5279E7;
}

.icon-youtube:before {
  color: #CD201f;
}

.icon-niconico:before {
  color: #000000;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin-top: -2px;
  margin-bottom: -2px;
}

input[type="text"], input[type="password"], input[type="search"],
input[type="tel"], input[type="url"], input[type="datetime"],
input[type="month"], input[type="week"], input[type="time"],
input[type="number"], input[type="range"], textarea {
  display: inline-block;
  margin: .1em 0;
  padding: .2em;
  background-color: white;
  border: 1px solid #868686;
}
input[type="text"]:hover, input[type="password"]:hover, input[type="search"]:hover,
input[type="tel"]:hover, input[type="url"]:hover, input[type="datetime"]:hover,
input[type="month"]:hover, input[type="week"]:hover, input[type="time"]:hover,
input[type="number"]:hover, input[type="range"]:hover, textarea:hover {
  border-color: #b9b9b9;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="search"]:focus,
input[type="tel"]:focus, input[type="url"]:focus, input[type="datetime"]:focus,
input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus,
input[type="number"]:focus, input[type="range"]:focus, textarea:focus {
  outline: none;
  border-color: #23a5d6;
  box-shadow: 0px 0px 2px 0px #23a5d6;
}

textarea {
  max-width: 100%;
}

input[type="submit"], input[type^="reset"], button {
  display: inline-block;
  padding: .2em 1em;
  height: 28px;
  background-color: #f2f2f2;
  border: 1px solid #868686;
}
input[type="submit"]:hover, input[type^="reset"]:hover, button:hover {
  outline: none;
  border-color: #b9b9b9;
  background-color: white;
}
input[type="submit"]:active, input[type^="reset"]:active, button:active {
  background-color: white;
  border-color: #23a5d6;
  box-shadow: 0px 0px 2px 0px #23a5d6;
}

.fixed_navi {
  position: fixed;
  top: 0;
  margin: 0;
}

#dummy {
  display: none;
  height: 50px;
  margin: 0;
}

.twitter-timeline {
  display: none;
}

#tw-loading {
  display: block;
  width: 95%;
  height: 200px;
  margin: 0 2.5% 6px 2.5%;
  font-size: 0.6em;
  line-height: 200px;
  text-align: center;
  color: #676767;
}

#topscroll {
  position: fixed;
  bottom: 10px;
  right: 20px;
  text-align: right;
}
#topscroll img {
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
#topscroll a {
  outline: none;
}
